
<div class="row row-center">

	<div class="col-md-6 col-center">

		<div class="panel panel-default">

			<div class="panel-heading">
				<h2 class="panel-title">Cadastro De Clientes</h2>
			</div>

			<div class="panel-body">

				<form name="formCliente" class="form form-horizontal" role="form">
				
				<div class="form-group">
					<label for="txtCodigo" class="col-md-2 control-label">Código</label>
					<div class="col-md-10">
						<input type="number" class="form-control" id="txtCodigo"
						data-ng-tabindex="1" data-ng-pattern="/^[1-9]+[0-9]*$/" data-ng-disabled="$acao.isAcaoVisualizar()"
						data-validator="required" data-focus data-valid-method="submit"
						name="codigo" data-ng-model="cliente.codigo">
						  <span class="validation-invalid" data-ng-show="formCliente.codigo.$error.pattern && formCliente.codigo.$invalid">Código inválido.</span>
					</div>
				</div>

					<div class="form-group">
						<label for="txtRazaoSocial" class="col-md-2 control-label">Razão
							Social:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="txtRazaoSocial"
								data-ng-tabindex='2' data-ng-disabled="$acao.isAcaoVisualizar()"
								data-validator="required" maxlength="100"
								data-valid-method="submit" name="cliente.razaoSocial"
								data-ng-model="cliente.razaoSocial">
						</div>
					</div>

					<div class="form-group">
						<label for="txtNomeFantasia" class="col-md-2 control-label">Nome
							Fantasia:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="txtNomeFantasia"
								data-ng-tabindex='3' data-ng-disabled="$acao.isAcaoVisualizar()"
								data-validator="required" maxlength="100"
								data-valid-method="submit" name="cliente.nomeFantasia"
								data-ng-model="cliente.nomeFantasia">
						</div>
					</div>

					<div class="form-group">
						<label for="txtcnpj" class="col-md-2 control-label">CNPJ:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="txtcnpj"
								data-ng-tabindex='4' data-ng-maskedinput='99.999.999/9999-99'
								data-ng-disabled="$acao.isAcaoVisualizar()"
								data-validator="required" maxlength="18"
								data-valid-method="submit" name="cliente.cnpj"
								data-ng-model="cliente.cnpj">
						</div>
					</div>

					<div class="form-group" data-ng-controller="CategoriaController">
						<label for="txtCategoria" class="col-md-2 control-label">Categoria:</label>
						<div class="col-md-10">
							<select name="categoria" data-ng-model="cliente.categoria"
								id="categoria" class="form-control"
								data-ng-tabindex='5'
								data-validator="required"
								data-ng-disabled="$acao.isAcaoVisualizar()"
								data-ng-options="key as val for (key, val) in categorias">
								<option value="" disabled="disabled">Escolha uma Categoria</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="ativo" class="col-md-2 control-label">Ativo:</label>
						<div class="col-md-10">
							<label class="radio-inline"> <input type="radio" data-ng-disabled="$acao.isAcaoVisualizar()"
							data-ng-model="cliente.ativo" data-ng-value="true"> Sim
							</label>
							
							<label class="radio-inline"> <input type="radio" data-ng-disabled="$acao.isAcaoVisualizar()"
								data-ng-model="cliente.ativo" data-ng-value="false"> Não
							</label>
						</div>
					</div>

					<div class="form-group last">

						<div class="col-md-12">

							<button class="btn btn-success" data-ng-click="salvar()"
								data-ng-hide="$acao.isAcaoVisualizar()" tabindex="6"
								data-validation-submit="formCliente"> <span
								class="glyphicon glyphicon-ok"></span> Salvar</button>
								
								<a class="btn btn-info" data-ng-click="alterar(cliente)"
								data-ng-show="$acao.isAcaoVisualizar()"
								data-validation-submit="formCliente"> <span
								class="glyphicon glyphicon-pencil"></span> Alterar</a> 
								
								<a class="btn btn-danger" data-ng-click="cancelar()"> <span
								class="glyphicon glyphicon-remove"></span> Cancelar
							</a>


						</div>

					</div>
				</form>

			</div>
		</div>
	</div>
</div>