<div class="panel panel-default">

	<div class="panel-heading">
		<h2 class="panel-title">Incêndio</h2>
	</div>

	<div class="panel-body fundo-panel">

		<form class="form form-horizontal " role="form">

	<div class="row-fluid">

<!-- Row Endereco -->
	<div class="col-md-8">
	<fieldset class="scheduler-border">
					<legend class="scheduler-border">Endereço</legend>
					
					<!-- Cep -->
					<div class="form-group">
						<label class="col-md-2 col-sm-2 control-label" for="cep">Cep</label>
						<div class="col-md-3 col-sm-3">
							<input type="text" class="form-control input-sm" id="cep" data-focus
							data-ng-model = "obj.cep" name="obj.cep" data-ng-blur = "buscarCep()"
							data-ng-maskedinput='99.999-999' data-ng-tabindex="1" /> 
						</div>
					</div>
					
					
					<!-- Endereco -->
					<div class="form-group">
							<label class="col-md-2 col-sm-2 control-label" for="endereco">Endereço</label>
						<div class="col-md-10 col-sm-10">		
							<input type="text" class="form-control input-sm" id="endereco"
							data-ng-model = "obj.endereco" name="obj.endereco"
							data-ng-tabindex="2"/> 
						</div>
					</div>
					
					<!-- Numero -->
					<div class="form-group">
							<label class="col-md-2 col-sm-2 control-label" for="numero">Numero</label>
					<div class="col-md-2 col-sm-2">	
							<input type="text" class="form-control input-sm" id="numero"
							data-ng-tabindex="3"/> 
					</div>	
									
					<!-- Quadra -->
							<label class="col-md-2 col-sm-2 control-label" for="quadra">Quadra</label>
						<div class="col-md-2 col-sm-2">
							<input type="text" class="form-control input-sm" id="quadra"
							data-ng-tabindex="4"/> 
					</div>
									
					<!-- Lote -->
					<label class="col-md-2 col-sm-2 control-label" for="lote">Lote</label>
					<div class="col-md-2 col-sm-2">	
							<input type="text" class="form-control input-sm" id="lote"
							data-ng-tabindex="5"/> 
					</div>
						
					</div>
					
					<!-- Complemento -->
					<div class="form-group">
							<label class="col-md-2 col-sm-2 control-label" for="complemento">Compleme.</label>
					<div class="col-md-10 col-sm-10">		
							<input type="text" class="form-control input-sm" id="complemento"
							data-ng-tabindex="6"/> 
					</div>	
					</div>
					
					<!-- Bairro -->
					<div class="form-group">
							<label class="col-md-2 col-sm-2 control-label" for="bairro">Bairro</label>
					<div class="col-md-10 col-sm-10">	
							<input type="text" class="form-control input-sm" id="bairro"
							data-ng-model = "obj.bairro" name="obj.bairro"
							data-ng-tabindex="7"/> 
					</div>
					</div>
					
					<!-- Cidade -->
					<div class="form-group">
							<label class="col-md-2 col-sm-2 control-label" for="cidade">Cidade</label>
					<div class="col-md-6 col-sm-6">	
							<input type="text" class="form-control input-sm" id="cidade"
							data-ng-model = "obj.cidade" name="obj.cidade"
							data-ng-tabindex="8"/> 
					</div>	
					
					<!-- Uf -->
							<label class="col-md-2 col-sm-2 control-label" for="uf">Uf</label>
					<div class="col-md-2 col-sm-2">		
							<input type="text" class="form-control input-sm" id="uf"
							data-ng-model = "obj.uf" name="obj.uf"
							data-ng-tabindex="9"/> 
					</div>
					</div>
					
					<!-- Controle -->
					<div class="form-group">
							<label class="col-md-2 col-sm-2 control-label" for="controle">Controle</label>
					<div class="col-md-3 col-sm-3">	
							<input type="text" class="form-control input-sm" id="controle"
							data-ng-tabindex="10"/> 
					</div>				
					</div>
							
				</fieldset>
	</div>
	
	<!-- Row Datas -->
	<div class="col-md-4">
	<fieldset class="scheduler-border">
					<legend class="scheduler-border">Datas</legend>
					
					<!-- Inicio de Contrato -->
					<div class="col-md-7 col-sm-7">				
					<label class="control-label" for="inicioContrato">Inicio de Contrato</label>
					<input data-datepicker type="text" id="inicioContrato" data-ng-maskedinput='99/99/9999' 
				       class="form-control input-sm" data-ng-model="teste.teste" data-ng-tabindex="11"> 
				   </div>
				   
				   <!-- Parc. 1- Pagto -->
				   <div class="col-md-6 col-sm-6">				
					<label class="control-label" for="parc1pagto">Parc. 1- Pagto</label>
					<input data-datepicker type="text" id="parc1pagto" data-ng-maskedinput='99/99/9999' 
				       class="form-control input-sm" data-ng-model="teste.teste" data-ng-tabindex="12"> 
				   </div>
				   
				   <!-- Repassada -->
				   <div class="col-md-6 col-sm-6">				
					<label class="control-label" for="repassada">Repassada</label>
					<input data-datepicker type="text" id="repassada" data-ng-maskedinput='99/99/9999' 
				       class="form-control input-sm" data-ng-model="teste.teste" data-ng-tabindex="13"> 
				   </div>
				 
				 <!-- Apólice -->
				   <div class="col-md-6 col-sm-6">				
					<label class="control-label" for="apolice">Apólice</label>
					<input data-datepicker type="text" id="apolice" data-ng-maskedinput='99/99/9999' 
				       class="form-control input-sm" data-ng-model="teste.teste" data-ng-tabindex="14"> 
				   </div>
				       
	</fieldset>
	</div>
	
	<!-- Row Dados das Partes -->
	<div class="col-md-8">
	<fieldset class="scheduler-border">
					<legend class="scheduler-border">Dados das Partes</legend>
					
					<!-- Propriátario -->
					<div class="form-group">
							<label class="col-md-2 col-sm-2 control-label" for="proprietario">Proprietário</label>
					<div class="col-md-10 col-sm-10">	
							<input type="text" class="form-control input-sm" id="proprietario"
							data-ng-tabindex="15"/> 
					</div>
					</div>
					
					<!-- Inquilino -->
					<div class="form-group">
							<label class="col-md-2 col-sm-2 control-label" for="inquilino">Inquilino</label>
					<div class="col-md-10 col-sm-10">
							<input type="text" class="form-control input-sm" id="inquilino"
							data-ng-tabindex="16"/> 
					</div>
					</div>
					
					<!-- Atendente -->
					<div class="form-group">
							<label class="col-md-2 col-sm-2 control-label" for="atendente">Atendente</label>
					<div class="col-md-10 col-sm-10">	
							<input type="text" class="form-control input-sm" id="atendente"
							data-ng-tabindex="17"/> 
					</div>
					</div>
	</fieldset>
	</div>

</div>

		

			<!-- Botoes -->
			<div class="row-fluid">
				<div class="form-group">
					<div class="col-md-12 col-sm-12 col-xs-12 text-right">
						<button type="button" class="btn btn-success">
							Gravar <span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
						<button type="button" class="btn btn-danger">
							Sair <span class="glyphicon glyphicon-off"></span>
						</button>
					</div>
				</div>
			</div>



		</form>
		
		</div>
	</div>
		