
<div class="wrapper-responsivo">
	<div class="table-responsivo">
		<div class="row-responsivo header blue">

			<div class="cell-responsivo">Coberturas</div>

			<div class="cell-responsivo">Franquia</div>

			<div class="cell-responsivo">Valor Segurado</div>

			<div class="cell-responsivo">Taxa-5,00</div>

			<div class="cell-responsivo">Custo</div>

		</div>


		<div class="row-responsivo">
			<div class="cell-responsivo">
				<input type="checkbox" class="big-checkbox" value="">
			</div>
			<div class="cell-responsivo">1-Incêndio-Prédio/Conteúdo</div>
			<div class="cell-responsivo">R$ 200,00</div>
			<div class="cell-responsivo">
				<input type="text" data-mask-money class="form-control input-sm">
			</div>
			<div class="cell-responsivo">R$ 200,00</div>
		</div>

		<div class="row-responsivo">
			<div class="cell-responsivo">
				<input type="checkbox" class="big-checkbox" value="">
			</div>
			<div class="cell-responsivo">2-Perda ou Pagamento de Aluguel</div>
			<div class="cell-responsivo">R$ 200,00</div>
			<div class="cell-responsivo">
				<input type="text" class="form-control input-sm">
			</div>
			<div class="cell-responsivo">R$ 200,00</div>
		</div>

		<div class="row-responsivo">
			<div class="cell-responsivo">
				<input type="checkbox" class="big-checkbox" value="">
			</div>
			<div class="cell-responsivo">3-Vendaval, Fumaça</div>
			<div class="cell-responsivo">R$ 200,00</div>
			<div class="cell-responsivo">
				<input type="text" class="form-control input-sm">
			</div>
			<div class="cell-responsivo">R$ 200,00</div>
		</div>

		<div class="row-responsivo">
			<div class="cell-responsivo">
				<input type="checkbox" class="big-checkbox" value="">
			</div>
			<div class="cell-responsivo">4-Responsabilidade Civil</div>
			<div class="cell-responsivo">R$ 200,00</div>
			<div class="cell-responsivo">
				<input type="text" class="form-control input-sm">
			</div>
			<div class="cell-responsivo">R$ 200,00</div>
		</div>

		<div class="row-responsivo">
			<div class="cell-responsivo">
				<input type="checkbox" class="big-checkbox" value="">
			</div>
			<div class="cell-responsivo">5-Danos Elétricos Fiação</div>
			<div class="cell-responsivo">R$ 200,00</div>
			<div class="cell-responsivo">
				<input type="text" class="form-control input-sm">
			</div>
			<div class="cell-responsivo">R$ 200,00</div>
		</div>

		<div class="row-responsivo header green">

			<div class="cell-responsivo"></div>
			<div class="cell-responsivo"></div>
			<div class="cell-responsivo"></div>
			<div class="cell-responsivo text-right">Total</div>
			<div class="cell-responsivo text-right">R$ 0,00</div>


		</div>

	</div>
</div>