<!DOCTYPE html>
<html lang="pt_br" data-ng-app="app">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>SAA - Sistema de Atendimento Autocom</title>

<link rel="stylesheet"
	href="resources/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="resources/css/datepicker.css">
<link rel="stylesheet"
	href="resources/css/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="resources/css/style.css">
<link rel="shortcut icon" type="image/png" href="resources/img/favicon.png"/>

<!-- nTagsInput CSS -->
<link rel="stylesheet" href="resources/css/nTagsInput/ng-tags-input.min.css"> 

</head>

<body>
	<header>
		<nav class="navbar navbar-default navbar-fixed-top" data-ng-if="$security.hasUserValid()">
				<div class="navbar-header">
					<button type="button" data-target=".navbar-collapse"
						data-toggle="collapse" class="navbar-toggle">Menu</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav nav-pills navbar-nav">
						<li>
							<a data-toggle="pill" data-target="#atendimento" href="#/atendimento"><span class="glyphicon glyphicon-check"></span> Atendimentos
								<span class="badge">{{badgeAtendimento}}</span>
							</a>
						</li>
						<li data-ng-if="$security.hasRoles(['ADMIN', 'SECRETARIA'])">
							<a data-toggle="pill" data-target="#assunto" href="#/assunto"><span class="glyphicon glyphicon-tags"></span> Assuntos</a>
						</li>
						<li data-ng-if="$security.hasRoles(['ADMIN', 'SECRETARIA'])">
							<a data-toggle="pill" data-target="#usuario" href="#/usuario"><span class="glyphicon glyphicon-user"></span> Usuários</a>
						</li>
						<li data-ng-if="$security.hasRoles(['ADMIN', 'SECRETARIA'])">
							<a data-toggle="pill" data-target="#cliente" href="#/cliente"><span class="glyphicon glyphicon-list"></span> Clientes</a>
						</li>
						<li data-ng-if="$security.hasRoles(['ADMIN'])">
							<a data-toggle="pill" data-target="#auditoria" href="#/auditoria"><span class="glyphicon glyphicon-search"></span> Auditoria</a>
						</li>
						<li data-ng-if="$security.hasRoles(['ADMIN'])">
							<a data-toggle="pill" data-target="#relatorioGeral" href="#/relatorioGeral"><span class="glyphicon glyphicon-tasks"></span> Relatório</a>
						</li>
					</ul>
					<div class="navbar-form navbar-right usuario"
						data-ng-controller="LoginController">
						<ul class="nav navbar-nav navbar-right">
						
							<li>
								<a data-target="#recado" title="Mensagens" href="#/recado">
								<span class="badge">{{badgeRecado}}</span>	
								<span class="glyphicon glyphicon-envelope"></span>	
								</a>
								
							</li>
							
							<li>
								<a data-target="#usuarioPerfil" href="#/usuarioPerfil">
								<span class="glyphicon glyphicon-user"></span> {{ $security.currentUserName() }}</a>
							</li>
									
							<li >
								<a data-target="#ponto" title="Registro de Ponto" href="#/ponto">
								<span class="glyphicon glyphicon-time"></span>	
								</a>
							</li>
												
							<li >
								<a href="" data-ng-click="logout();"><span class="glyphicon glyphicon-off"></span> Sair</a>
							</li>
						</ul>
					</div>
				</div>
		</nav>
	</header>

	<div class ="main">
		<div class="container-fluid" data-ng-view></div>
	</div>
	
	<!-- Recarrega a Pagina Com Alt + r -->
	<a onclick="location.reload()" accesskey="r"></a>

	<!-- DEPENDÊNCIAS JAVA SCRIPT -->
	<script type="text/javascript"
		src="resources/js/jquery/jquery-2.1.3.min.js"></script>
		<script type="text/javascript"
		src="resources/js/jquery/TableJquery.js"></script>
	<script type="text/javascript"
		src="resources/js/jquery/jquery.maskedinput.min.js"></script>
	<script type="text/javascript"
		src="resources/css/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="resources/js/jquery/BootStrap-DatePicker.js"></script>

	<!-- DEPENDÊNCIAS ANGULAR -->
	<script type="text/javascript"
		src="resources/js/angular/angular.min.js"></script>
	<!--<script type="text/javascript" src="https://code.angularjs.org/1.3.5/angular.js"></script>-->
		
	<script type="text/javascript"
		src="resources/js/angular/angular-route.min.js"></script>
	<script type="text/javascript"
		src="resources/js/angular/angular-cookies.min.js"></script>
	<script type="text/javascript"
		src="resources/js/angular-validation/angular-validation.min.js"></script>

	<!-- Autocomplete -->	
	<script type="text/javascript"
		src="resources/js/angular/angular-animate.min.js"></script>

	<!--  ui.boostrap  -->
	<script type="text/javascript" src="resources/js/ui-bootstrap/ui-bootstrap-tpls-1.1.1.min.js" ></script>

	<!-- nTagsInput js -->
	<script type="text/javascript" src="resources/js/nTagsInput/ng-tags-input.min.js"></script>

	<!-- DIRETIVAS -->
	<script type="text/javascript"
		src="application/security/security.min.js"></script>
	<script type="text/javascript" src="application/message/message.min.js"></script>
	<script type="text/javascript" src="application/directives/directives.js"></script>
	<script type="text/javascript" src="application/app.js"></script>
		
	<!-- CONTROLLERS -->
	<script type="text/javascript"
		src="application/controllers/UsuarioController.js"></script>
	<script type="text/javascript"
		src="application/controllers/UsuarioPerfilController.js"></script>
	<script type="text/javascript"
		src="application/controllers/LoginController.js"></script>
	<script type="text/javascript"
		src="application/controllers/AssuntoController.js"></script>
	<script type="text/javascript"
		src="application/controllers/ClienteController.js"></script>
	<script type="text/javascript"
		src="application/controllers/RecadoController.js"></script>
	<script type="text/javascript"
		src="application/controllers/PerfilController.js"></script>	
	<script type="text/javascript"
		src="application/controllers/AuditoriaController.js"></script>	
	<script type="text/javascript"
		src="application/controllers/CategoriaController.js"></script>
	<script type="text/javascript"
		src="application/controllers/PontoController.js"></script>
	<script type="text/javascript"
		src="application/controllers/AtendimentoController.js"></script>
	<script type="text/javascript"
		src="application/controllers/RelatorioGeralController.js"></script>	
</body>

</html>